
/* @font-face {
  font-family: 'Messer Condensed';
  src:  url('https://www.radicalxchange.org/fonts/messerv2.0-condensed-webfont.woff2') format('woff2'),
        url('https://www.radicalxchange.org/fonts/messerv2.0-condensed-webfont.woff') format('woff');
} */


/* ./web/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  @apply inline-flex items-center justify-center px-5 py-2 text-base font-medium leading-6 tracking-wide text-white uppercase transition duration-200 ease-in-out bg-gray-900 border border-transparent rounded-sm;
}
.button-primary:hover {
  @apply bg-gray-800;
}
.button-primary:active {
  @apply bg-gray-700;
}
.button-primary:focus {
  @apply shadow-outline outline-none;
}

.button-secondary {
  @apply inline-flex items-center justify-center px-5 py-2 text-base font-medium leading-6 tracking-wide text-black uppercase transition duration-200 ease-in-out bg-transparent border border-black rounded-sm ;
}
.button-secondary:hover {
  @apply bg-gray-200;
}
.button-secondary:active {
  @apply bg-gray-400;
}
.button-secondary:focus {
  @apply shadow-outline outline-none;
}


input,
.stripe-input { display: block; width: 100%; height: 2.4rem; padding: 0.5rem; border: 1px solid #000; border-radius: 3px; }
input[type="checkbox"] { width: auto; display: inline-block; margin-right: 1rem; }
input:focus,
.stripe-input-focus { outline: none; border-color: #5b68a5; box-shadow: 0 0 5px RGBA(0,0,0, 0.2) }

.btn-subdued { background: #7a819e; }
.btn-subdued:hover { background: #95a2d6; }
.btn-feedback { animation: pulse 1s 1; cursor: wait; }
.btn-link { background: none; display: inline; color: #5b68a5; padding: 0 }
.btn-link:hover { background: none; text-decoration: underline;}
.input-error { border-color: red; }
.field-error { font-size: 0.8rem; }
.form-error,.label-error,.field-error,.text-error { color: red; }
.field-group { display: flex; justify-content: space-between; }
.ui-loader {
  position: fixed;
  z-index: 9999;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skip-link {
  @apply button-primary;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.skip-link:focus {
  @apply button-primary;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.ui-loader.ui-loader-inline { position: relative; }
.ui-loader.ui-loader-block { position: absolute; margin: 0 auto; min-height: 300px; }
.has-block-loader { position: relative;}
.ui-loader-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 6px solid #e0e0e0;
  border-top: 6px solid #7e92ef;
  border-radius: 100%;
  animation: spin 1s infinite;
}
.ui-loader.ui-loader-inline .ui-loader-spinner { width: 30px; height: 30px; border-width: 3px;}
.ui-loader-message {
  padding: 2rem 0;
  font-size: 1.25rem;
  color: #616161;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav { display:flex }
.header nav a,
.header nav button { padding: 1rem }
.header .logo { font-weight: 700; }
.product-list { display: flex; flex-direction: column; flex-wrap: wrap;  }
.product-list-product { display: flex; flex-direction: column; justify-content: space-between; max-width: 800px; }
.product-list-product hr { margin: 0.5rem 1rem; }
.product-list-product-img { padding-top: 0; padding-bottom: 0; }
.product-list-product-footer { display: flex; justify-content: space-between; margin-bottom: auto;}
@media screen and (min-width: 800px) {
  .product-list { flex-direction: row; justify-content: space-between;}
  .product-list-product { width: 33.333333%; }
}
.cart-item { display: flex; padding: 2rem 1rem; justify-content: space-between; align-items: center; border-top: 1px solid #eaeaea; }
.cart-item-tools,
.cart-item-qty { display: flex; align-items: center; }
.cart-item-qty-field { width: 60px; margin: 0 1rem; }
.cart-product { display: flex; justify-content: space-between; }
.cart-product div { padding-right: 1rem; }
.cart-product-name { width: 12.5%; font-weight: 700; }
.cart-product-description { width: 50%;}
.cart-product-price { text-align: right; }
.cart-total-label { padding-right: 1rem; }
.cart-total-total {font-weight: 700; }
.cart-footer {display: flex; justify-content: space-between; align-items: center; padding: 2rem 1rem; border-top: 1px solid #eaeaea;}
.cart-footer .cart-total { padding: 0 1rem; text-align: right; font-size: 1.25rem; width: 75%; }
.cart-item .cart-product { width: 75%; }
@media screen and (min-width: 800px) {
  .checkout { display: flex; justify-content: space-between; }
  .checkout-flow { width: 66.666666%; }
  .checkout-summary { width: 33.333333% }
}
.checkout-summary { align-self: flex-start; margin: 1rem; background: #f5f5f7; border-radius: 6px; padding: 0.25rem 0.5rem; }
.checkout-summary hr { border-color: #e3e3e6 }
.checkout-summary .checkout-summary-title { padding-bottom: 0;}
.checkout-summary .checkout-summary-item { display: flex; justify-content: space-between; flex-wrap: wrap; padding: 1rem 0; }
.checkout-summary .checkout-summary-item div { padding: 0 1rem; }
.checkout-summary .checkout-summary-item .checkout-summary-item-qty { font-weight: 700; padding-right: 0.5rem; }
.checkout-summary .checkout-summary-item .checkout-summary-item-name { margin-right: auto; padding-left: 0; font-weight: 700; }
.checkout-summary .checkout-summary-item .checkout-summary-item-description { padding-top: 0.5rem; width: 100%; }
.checkout-summary .checkout-summary-total { padding: 1rem 1.5rem; text-align: right; }
.checkout-summary .checkout-summary-total-currency { display: inline-block; font-weight: 700; padding-left: 1rem; }
.set-customer {width: 100%; }
.set-customer-options { display: flex; justify-content: space-between; align-items: top; padding: 1rem 0; }
.set-customer-options .options-item { width: 50% }
.set-customer-options .options-item:first-child { border-right: 1px solid #ccc; }
.set-customer-options .options-item.options-item-signin { padding: 1rem 2rem;}
.set-customer-options .options-item.options-item-guest { display: flex; flex-direction: column; align-items: center; justify-content: center; }
.order-receipt-header { display: flex; }
.order-receipt-number { margin: 0 auto; }
.order-line-items { padding: 1rem; }
.footer { padding: 6rem 0; font-size: 0.8rem; color: #ccc; }
.footer a { opacity: 0.35; transition: opacity 0.2s ease; color: #000; }
.footer a:hover { opacity: 1;}
.footer img { margin-right: 0.5rem; }

@keyframes pulse {
  0% {
    background: #95a2d6;
  }
  50% {
    background:#4cdc9b;
  }
  100% {
    background: #4cdc9b;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* UTILS */

.text-small { font-size: 0.8rem; }


.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.aspect-ratio-16\/9 {
  padding-bottom: 56.25%;
}
.aspect-ratio-4\/3 {
  padding-bottom: 75%;
}
