
/* @font-face {
  font-family: 'Messer Condensed';
  src:  url('https://www.radicalxchange.org/fonts/messerv2.0-condensed-webfont.woff2') format('woff2'),
        url('https://www.radicalxchange.org/fonts/messerv2.0-condensed-webfont.woff') format('woff');
} */


/* ./web/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  @apply inline-flex items-center justify-center px-5 py-2 text-base font-medium leading-6 tracking-wide text-white uppercase transition duration-200 ease-in-out rounded-sm bg-primary;
}
.button-primary:hover {
  @apply bg-gray-800;
}
.button-primary:active {
  @apply bg-gray-700;
}
.button-primary:focus {
  @apply shadow-outline outline-none;
}

.button-secondary {
  @apply inline-flex items-center justify-center px-5 py-2 text-base font-medium leading-6 tracking-wide text-black uppercase transition duration-200 ease-in-out border border-black rounded-sm ;
}
.button-secondary:hover {
  @apply bg-gray-200;
}
.button-secondary:active {
  @apply bg-gray-400;
}
.button-secondary:focus {
  @apply shadow-outline outline-none;
}


.stripe-input{
  padding: 0.75rem 0.5rem 2rem 1rem;
  margin: 0.5rem 0 0 0;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

.form-error,.label-error,.field-error,.text-error { color: #800; display: block}


.ui-loader {
  position: fixed;
  z-index: 9999;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ui-loader.ui-loader-inline { position: relative; }
.ui-loader.ui-loader-block { position: absolute; margin: 0 auto; min-height: 300px; }
.has-block-loader { position: relative;}
.ui-loader-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 6px solid #e0e0e0;
  border-top: 6px solid #7e92ef;
  border-radius: 100%;
  animation: spin 1s infinite;
}
.ui-loader.ui-loader-inline .ui-loader-spinner { width: 30px; height: 30px; border-width: 3px;}
.ui-loader-message {
  padding: 2rem 0;
  font-size: 1.25rem;
  color: #616161;
}

.skip-link {
  @apply button-primary;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.skip-link:focus {
  @apply button-primary;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}


@keyframes pulse {
  0% {
    background: #95a2d6;
  }
  50% {
    background:#4cdc9b;
  }
  100% {
    background: #4cdc9b;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* UTILS */


.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.aspect-ratio-16\/9 {
  padding-bottom: 56.25%;
}
.aspect-ratio-4\/3 {
  padding-bottom: 75%;
}

